header{ /* in the header is simply set a font size and colour, I also made it so it was always centred*/
    font-size: 3em;
    color: #111;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 15px;
    text-shadow: -1px 1px 0 white, -2px 2px 0 #111;
}


/* this is the Part that makes the Navbar change colour when it's being hovered over*/ 
.navbar a:hover {  
    background-color: #111 
}

.navbar { /*this is the Styling to create the navbar*/
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

.tooltip { /* this is for the tooltip page telling it where to be displayed*/
    display: inline;
    position: relative;
}

.tooltip .tooltiptext { /* this tells the Style Sheet that the tooltip text will be displayed inside the box and how it will be displayed*/
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    Transition: opacity 0.3s;
    
}

.tooltip:hover:after { /* this shows us what will happen when the mouse is being hovered */
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px; 
    
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.columns { /* this is how the columns are displayed and it is common on every page to use this */
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 10px;
    border-top: 3px solid black;
    
}

.columns > div { /* Using this, the Content in the columns will be relative to them */
    flex-grow: 0;
    flex-basis: 50%;
    text-align: center;
    padding: 0 10px 0 50px;
}

.columns div p {
    font-family: "roboto", sans-serif;
    text-align: left;
}

.h1 { /* this is what font the header class H1 will be */
    font-family: 'Inconsolata', monospace;
    text-align: center;
}

.job { 
    text-align: center;
}

.footer {

    font-family: 'Encode Sans Condensed', sans-serif;

}

.img5 {
    height: 20px; 
    width: 25px;

}


@media screen and (max-width: 992px) { /* all these media tags move the columns box's and the content within them and make them relative to the current screen size */
    .columns div p {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column div p {
      width: 100%;
    }
  }

 
@media screen and (max-width: 992px) {
    .videos {
      width: 50%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .videos {
      width: 100%;
    }
  }
